<h2><%= @questions.size %> questions answered</h2>

<ul class="queue">
  <% @questions.each do |question| %>
    <li>
      <strong><%= question.question %></strong>
      <p><%= question.answer %></p>

      <p><small>Asked <%= pluralize(question.ask_count, 'time') %></small></p>
    </li>
  <% end %>
</ul>
